@import './tokens.css';
/* purgecss start ignore */
@tailwind base;
@tailwind components;
article a {
    color: rgb(49, 49, 182);
    text-decoration: underline;
}
/* purgecss end ignore */
.ungard-blue-underline {
    text-decoration-color: #5B60C9;
}

.button-sm {
    padding: 10px;
    border-radius: 3px;
    font-size: 1rem;
}

.button-base {
    padding: 10px;
    border-radius: 3px;
    font-size: 0.875rem;
}

.button-lg {
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 1.75rem;
}

.button {
    transition: .25s background-color;
}

.button:hover {
    background-color: var(--avenue-blue);
}


@tailwind utilities;

